@implements IDisposable
@page "/lobby"
@inject AppState StateManager

@if (StateManager.Gamestate?.Players.Count == 2)
{
    @StateManager.GoToGameAsync()
    return;
}

<h3>Waiting for: @StateManager.Code</h3>

@code {
    protected override void OnInitialized()
    {
        StateManager.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        StateManager.OnChange -= StateHasChanged;
    }
}
