name: Azure App Service CI/CD

on:
  push:
    branches:
      - master
    paths:
      - 'Tictactoe.Engine/**'
      - 'Tictactoe.Server/**'
      - .github/workflows/azure-app-service.yml
permissions:
  id-token: write
  contents: read

env:
  WEBAPP_PROJECT: './Tictactoe.Server/Tictactoe.Server.csproj'
  TEST_PROJECT: './Tictactoe.Engine.UnitTest/Tictactoe.Engine.UnitTest.csproj'
  AZURE_WEBAPP_NAME: tic-app-ipzokncra66xw
  AZURE_WEBAPP_PACKAGE_PATH: './Tictactoe.Server'
  DOTNET_VERSION: '10.0'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Run engine tests
        run: dotnet test ${{ env.TEST_PROJECT }} -c Release

      - name: dotnet build and publish
        run: |
          dotnet restore ${{ env.WEBAPP_PROJECT }}
          dotnet build ${{ env.WEBAPP_PROJECT }} -c Release --no-restore
          dotnet publish ${{ env.WEBAPP_PROJECT }} -c Release --property:PublishDir='myapp' --no-build

      - name: 'Run Azure webapp deploy action using publish profile credentials'
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          package: '${{ env.AZURE_WEBAPP_PACKAGE_PATH }}/myapp'

      - name: logout
        run: |
          az logout
